.App {
  text-align: center;
}




.App-header {
  background-color: #282c34;
  height: 70px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
  padding:20px;
}



*{
  box-sizing:border-box
}

.header{
  background-color: #282c34;
  height: 70px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px+2vmin);
  color: white;
  padding: 20px;
  cursor: pointer;
}
.buttonsearch{
  padding: 3px;
  background-color: transparent;
  color: black;
  width: 70px;
  cursor: pointer;
  margin-left: 3px; 
  border-radius: 3px;
  margin-top: 0px;
  font-size: 11px;
}
.buttonsearch:hover{
  background-color: #282c34;
  color: antiquewhite;
}
input{
  width: 40%;
  min-width: 170px;
  border-radius: 3px;
  padding: 5px;
  font-size: 14px;
  font-stretch:expanded;
  text-align:start;
  margin-top: 5px;
  
}
.buttonfilter:hover{
  background-color: #282c34;
  color: antiquewhite;
}
.buttonfilter{
  padding: 3px;
  background-color: transparent;
  color: black;
  width: 50px;
  cursor: pointer;
  margin-right: 1px; 
  border-radius: 3px;
  margin-top: 10px;
  font-size: 12px;
}
.buttonyear{
  background-color: #282c34;
  color: antiquewhite;
  font-size: 12px;
  cursor: pointer;
  border-radius: 3px;
  width: 60px;
}

.movies{
  display: flex;
  flex-wrap: wrap;
  flex-direction:row;
 
  
  
  
}


.movie{
  padding:5px 25px 10px 25px;
 max-width: 25%;

 height: 600px;
 max-height: 600px;
 width: 500px;
 max-width: 33.33%; 


 ;
 }
   

*{
  box-sizing: border-box;
}.search{
  display:flex;
  flex-direction:row;
  flex-wrap:wrap;
  justify-content:center;
  margin-top:10px
}

@media screen and(max-width:651px){
  .movie{max-width:100%;
  margin:auto}
}
@media screen and(min-width:694px)and(max-width:915px)
{
  .movie{max-width: 33%}}

@media screen and(min-width:652px)and(max-width:693px){
  .movie{max-width:50%}
}