.App {
  background-color: #1f2630;
  text-align: center;
}

.App-header {
  background-image: url("./GOT.jpg");
  height: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
 
  color: white;
  padding: 20px;
}

* {
  box-sizing: border-box;
}

.header {
  background-image: url("./GOT.jpg");
  height: 150px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  
  color: rgb(58, 29, 29);
  padding: 20px;
  cursor: pointer;
}

input {
  width: 40%;
  min-width: 170px;
  border-radius: 3px;
  padding: 5px;
  font-size: 14px;
  font-stretch: expanded;
  text-align: start;
  margin-top: 5px;
  border: 5px solid #1f2630;
}
::placeholder {
  align-content: center;
  align-items: center;
  text-align: center;
}
.buttonfilter:hover {
  background-color: white;
  color: #1f2630;
}
.buttonfilter {
  padding: 3px;
  background-color: #d1d9e4;
  color: #1f2630;
  width: 50px;
  cursor: pointer;
  margin-right: 1px;
  border-radius: 3px;
  margin-top: 10px;
  font-size: 12px;
}
.buttonyear {
  background-color: #282c34;
  color: antiquewhite;
  font-size: 12px;
  cursor: pointer;
  border-radius: 3px;
  width: 60px;
  border: 5px solid#1f2630;
}

.movies {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  align-items: stretch;
  justify-content: space-around;
 
}

.movie {
  flex-basis: 100%;
  flex-shrink: 0;
  color: antiquewhite;
  align-self: flex-start;
  
}

footer {
  background-image: url("./FAST and FURIOUS.jpg");
  height: 200px;
  display: flex;
  flex-direction: column;
  align-items: stretch;
  justify-content: center;
  font-size: calc(10px+2vmin);
  color: rgb(1, 7, 12);
  padding: 20px;
  cursor: pointer;
}

* {
  box-sizing: border-box;
}
.search {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  margin-top: 10px;
}

@media (min-width: 900px) {
  .movies {
    flex-wrap: wrap;
    justify-content: flex-start;
  }
  .header {
    height: 125px;
  }

  .movie {
    flex-basis: 25%;
    height: 600px;
    padding: 0px 0px 0px 0px;
  }
  .image {
    height: 400px;
    width: 300px;
  }
}
